@import "./shared.css";

/* Nav */

nav {
  background: rgb(21, 111, 162) linear-gradient(rgb(21, 111, 162), rgb(42, 143, 200));
}

nav > div > ul {
  display: flex;
}

nav > div > ul, nav > div > ul > li > a {
  color: rgba(255, 255, 255, .6);
  font-weight: 600;
  list-style: none;
  margin: 1em;
  margin-right: .5em;
  text-decoration: none;
  font-size: 1.1em;
  transition: .5s;
}

nav > div > ul > li > a:hover {
  color: rgba(255, 255, 255, .9);
}

.nav-right {
  position: relative;
  bottom: -12px;
  display: inline;
  height: 0;
}

.nav-left {
}

/* Btn */

.btn {

}

.btn-main {
  border: 2px white solid;
  border-radius: 6px;
  padding: .314em;
}

nav .btn-main {
  border: 2px rgba(255, 255, 255, .7) solid;
}

nav .btn-main:hover {
  border: 2px rgba(255, 255, 255, 1) solid;
}

.btn-main-inv {
  border: 2px transparent solid;
  border-radius: 6px;
  padding: .314em;
  background: white;
  color: black;
}

nav .btn-main-inv {
  color: rgb(21, 111, 162);
  background: rgba(255, 255, 255, .7);
}

nav .btn-main-inv:hover {
  color: rgb(21, 111, 162);
  background: rgba(255, 255, 255, .9);
}


/* Home */

.brand {
  font-family: Lobster;
  color: white;
  font-size: 3em;
  position: relative;
  top: -12px;
}

/* Page main */

.page-main {
  background: rgb(21, 111, 162) linear-gradient(rgb(21, 111, 162), rgb(42, 143, 200));
  color: white;
  min-height: 100vh;
}

.side-box {
  padding: 10em 5em;
}

.side-box h1 {
  font-size: 3em;
}

.side-box h2 {
  font-size: 2em;
  font-weight: 600;
}
