body {
  margin: 0;
  font-family: Montserrat;
}

/* Nav */

nav {
  padding: 1em;
  background: white;
  border-radius: 0 0 0 0; /* TODO: add half-circle curve to bottom */
  /* height: 7em; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 2px 0 6px 4px grey;
}

nav > div > ul {
  display: flex;
}

nav > div > ul, nav > div > ul > li > a {
  color: rgba(21, 111, 162, .9);
  font-weight: 600;
  list-style: none;
  margin: 1em;
  margin-right: .5em;
  text-decoration: none;
  font-size: 1.1em;
  transition: .5s;
}

nav > div > ul > li > a:hover {
  color: rgba(21, 111, 162, 1);
}

.nav-right {
  position: relative;
  bottom: -12px;
  display: inline;
  height: 0;
}

.nav-left {
}

/* Btn */

.btn {

}

.btn-main {
  border: 2px white solid;
  border-radius: 6px;
  padding: .314em;
}

nav .btn-main {
  border: 2px rgb(21, 111, 162, .7) solid;
}

nav .btn-main:hover {
  border: 2px rgb(21, 111, 162, 1) solid;
}

.btn-main-inv {
  border: 2px transparent solid;
  border-radius: 6px;
  padding: .314em;
  background: white;
  color: black;
}

nav .btn-main-inv {
  color: rgba(255, 255, 255, .9);
  background: rgb(21, 111, 162);
}

nav .btn-main-inv:hover {
  color: rgba(255, 255, 255, 1);
  background: rgb(21, 111, 162);
}


/* Home */

.brand {
  font-family: Lobster;
  color: rgb(21, 111, 162);
  font-size: 2em;
  position: relative;
  top: -6px;
}

/* Page */

.page {

}

.a-page {

}
