extends main.pug

block head
  <link href="./css/main.css" rel="stylesheet">

block navright
  <div class="nav-right">
    <div class="brand">Let's Meet<br>Online</div>
  </div>

block content
  <div class="a-page page-main">
    <div class="side-box">
      <h1>Let's Meet Online</h1>
      <h2>A new way to organize your meetings</h2>
    </div>
  </div>
