<!doctype html>

html
  head
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Let's Meet Online</title>
    <link href="https://fonts.googleapis.com/css?family=Lobster|Montserrat:400,600,800&display=swap" rel="stylesheet">
    block head

  block body
    block nav
      <nav>
        block navright
          <div class="nav-right">
            <div class="brand">Let's Meet Online</div>
          </div>
        <div class="nav-left">
          <ul>
            <li><a href="./dashboard.pug">_</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#" class="btn btn-main">Login</a></li>
            <li><a href="#" class="btn btn-main-inv">Register</a></li>
          </ul>
        </div>
      </nav>

    block page
      div(class="page")
        block content
